<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Blitz project | A platform to analyse and isolate morphologically heart murmurs."/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Blitz Project">

    <link rel="apple-touch-icon" sizes="57x57" href="{{level}}favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{level}}favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{level}}favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{level}}favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{level}}favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{level}}favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{level}}favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{level}}favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{level}}favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{level}}favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{level}}favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{level}}favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{level}}favicons/favicon-16x16.png">
    <link rel="manifest" href="{{level}}favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{level}}favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#4C7FF0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{level}}vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{level}}vendor/pace/themes/blue/pace-theme-minimal.css"/>
    <link rel="stylesheet" href="{{level}}vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{level}}vendor/animate.css/animate.css"/>
    <link rel="stylesheet" href="{{level}}styles/app.css" id="load_styles_before"/>
    <link rel="stylesheet" href="{{level}}styles/app.skins.css"/>

    {{{block 'pageStyles'}}}
</head>