{{#contentFor 'pageStyles'}}
{{/contentFor}}
<main class="l-main-content"></main>
<section style="margin-top: 80px;" class="b-works-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="ui-subtitle-block">{{murmur.title}}</h2>
                <div class="ui-title-block">Descriptores del soplo cardiaco.</div>
                <div class="ui-decor-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl class="b-works-details__description dl-horizontal">
                    <dt>Tipo</dt>
                    <dd>{{murmur.type}}</dd>
                    <dt>Figura</dt>
                    <dd><img src="{{level}}{{murmur.figure}}"/></dd>
                    <dt>Más</dt>
                    <dd><a href="{{murmur.url}}" target="_blank">Texas Heart</a></dd>
                    <dt>Sonido</dt>
                    <dd><audio controls>
                        <source src="{{level}}{{murmur.audio}}" type="audio/wav">
                        Your browser does not support the audio tag.
                    </audio></dd>
                </dl>
            </div>
            <div class="col-md-6">
                <h3 class="ui-title-inner">Descripción</h3>
                <p>{{murmur.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="first-waveform-visualiser-container"></div>
                <div id="demo-controls">
                    <input id="peakbuffer" value="{{level}}sound/aortic_stenosis.dat" type="hidden" />
                    <input id="peakjson" value="{{level}}sound/aortic_stenosis.json" type="hidden" />
                    <button data-action="zoom-in">Zoom +</button>
                    <button data-action="zoom-out">Zoom -</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="b-works-details__slider owl-carousel owl-theme enable-owl-carousel" data-min480="1"
                     data-min768="2" data-min992="2" data-min1200="2" data-pagination="true" data-navigation="false"
                     data-auto-play="4000" data-stop-on-hover="true">
                    <img src="{{level}}{{murmur.image}}" alt="foto"/>
                    <img src="{{level}}{{murmur.fft}}" alt="foto"/></div>
            </div>
        </div>
        <div class="row">
            <h2>Fuentes externas de comparación.</h2>
            <div class="col-xs-12">
                <h3>Fuente: University of California UCLA</h3>
                <div class="col-md-6">
                    <dl class="b-works-details__description dl-horizontal">
                        <dt>Tipo</dt>
                        <dd>{{murmur.type}}</dd>
                        <dt>Figura</dt>
                        <dd><img src="{{level}}{{murmur.figure}}"/></dd>
                        <dt>Más</dt>
                        <dd><a href="https://www.med.ucla.edu/wilkes/Systolic.htm" target="_blank">Texas Heart</a></dd>
                        <dt>Sonido</dt>
                        <dd><audio controls>
                            <source src="{{level}}{{murmur.audio}}" type="audio/wav">
                            Your browser does not support the audio tag.
                        </audio></dd>
                    </dl>
                </div>
                <div class="col-xs-6">
                    <img src="{{level}}{{murmur.image1}}" alt="foto"/>
                    <img src="{{level}}{{murmur.fft1}}" alt="foto"/>
                </div>
            </div>
            <div class="col-xs-12">
                <h3>Fuente: Kansas City University KCUMB</h3>
                <div class="col-md-6">
                    <dl class="b-works-details__description dl-horizontal">
                        <dt>Tipo</dt>
                        <dd>{{murmur.type}}</dd>
                        <dt>Figura</dt>
                        <dd><img src="{{level}}{{murmur.figure}}"/></dd>
                        <dt>Más</dt>
                        <dd><a href="https://courses.kcumb.edu/physio/" target="_blank">Texas Heart</a></dd>
                        <dt>Sonido</dt>
                        <dd><audio controls>
                            <source src="{{level}}{{murmur.audio2}}" type="audio/wav">
                            Your browser does not support the audio tag.
                        </audio></dd>
                    </dl>
                </div>
                <div class="col-xs-6">
                    <img src="{{level}}{{murmur.image2}}" alt="foto"/>
                    <img src="{{level}}{{murmur.fft2}}" alt="foto"/>
                </div>
            </div>
        </div>
    </div>
</section>

{{#contentFor 'pageScripts'}}
    <script src="{{level}}js/peaks.js"></script>
    <script src="{{level}}js/details.js"></script>
{{/contentFor}}