<main class="l-main-content"></main>
<section style="margin-top: 80px;" class="b-works-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="ui-subtitle-block">{{murmur.title}}</h2>
                <div class="ui-title-block">Descriptores del soplo cardiaco.</div>
                <div class="ui-decor-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl class="b-works-details__description dl-horizontal">
                    <dt>Tipo</dt>
                    <dd>{{murmur.type}}</dd>
                    <dt>Figura</dt>
                    <dd><img src="{{level}}{{murmur.figure}}"/></dd>
                    <dt>Más</dt>
                    <dd><a href="{{murmur.url}}" target="_blank">Texas Heart</a></dd>
                    <dt>Sonido</dt>
                    <dd><audio controls>
                        <source src="{{level}}{{murmur.audio}}" type="audio/wav">
                        Your browser does not support the audio tag.
                    </audio></dd>
                </dl>
            </div>
            <div class="col-md-6">
                <h3 class="ui-title-inner">Descripción</h3>

                <p>{{murmur.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="b-works-details__slider owl-carousel owl-theme enable-owl-carousel" data-min480="1"
                     data-min768="2" data-min992="2" data-min1200="2" data-pagination="true" data-navigation="false"
                     data-auto-play="4000" data-stop-on-hover="true">
                    <img src="{{level}}{{murmur.image}}" alt="foto"/>
                    <img src="{{level}}{{murmur.fft}}" alt="foto"/></div>
            </div>
        </div>
    </div>
</section>